.category Button {
  text-transform: capitalize !important;
}
.nav li .submenu li .submenu {
  opacity: 0 !important;
}
.nav li .submenu li:hover .submenu {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
